
{{!-- {{yield item.name 1 'hola'}} --}}
{{#if (has-block)}}
	{{yield item.name 1 'hola'}}  {{!-- Si es un bloque --}}
{{else}}
	<button {{action 'triggerAction' text meal}}>{{text}}</button>
{{/if}}
