<ul>
	{{#each model as |meal|}}
		<li>
			<p>{{link-to meal.name "meals.meal-detail" meal.id}}{{	input value=meal.name}}
				{{simple-card}}
				{{simple-card name=meal.name class='primary'}}
					<p>{{meal.name}}</p>
				{{#confirm-button item=meal as |mealName number saludo|}}
					<p>{{mealName}}</p>
					<p>{{number}}</p>
					<p>{{saludo}}</p>
				{{/confirm-button}}
				{{complex-card mealName=meal.name}}
				<button {{action 'editMeal' meal}}>Editar</button>
				<button {{action 'deleteMeal' meal}}>Eliminar</button>
			</p>
		</li>
	{{/each}}
</ul>
<form {{action 'sendMeal' on="submit"}}>
	<p>Agregar una comida</p>
	{{input type="text" value=meal}}
	<button disabled= {{if isSaving "true"}}>Agregar</button>
</form>


<i></i>

{{trigger-action text="Click for useless action"

	onCall = (action 'uselessAction')
}}
