<h1>Hola</h1>

<h1>{{model.name}}</h1>
<p>{{input value=model.name}}
	<button {{action 'editMeal' model}}>Editar</button>
	{{!-- <button {{action 'deleteMeal' model}}>Eliminar</button> --}}
	{{confirm-button text='eliminar' meal=model onCall=(action 'deleteMeal' model)}}
</p>
