{{outlet}}
<h2>Crear productos </h2>
<form  {{action 'createProduct' on="submit"}}>
	<p>Nombre: {{input value=name type="text"}}
  </p>
	<p>Calorias: {{input value=calorias type="number" }}
  </p>
	<button>Create</button>
</form>
<h2>Read, Update and Delete</h2>
{{#each model as |product|}}
	{{product-detail product=product
		onDeleteProduct=(action 'deleteProduct' product)
		onEditProduct = (action 'updateProduct' product)
	}}
{{else}}
	<h3>No products available</h3>
{{/each}}
