
<h1>Hola mundo</h1>

<h1>Lucky Days</h1>
<ul>
	{{#each weekDays as |weekDay|}}
		{{#if weekDay.number}}
			<li>{{weekDay.number}} - {{weekDay.day}}</li>
		{{/if}}
	{{else}}
		<h1>Sin days</h1>
	{{/each}}
</ul>


<p>My lucky day:</p>
<button {{action 'myLuckyDay' on='click'}}>Calculate</button>
{{luckyDay.['day']}}
<br />
<br />
{{input type="text" value=newDay}}
<button {{action 'addDay' on="click"}}>Add new day</button>

<br>
<br>
<br>
<br>

<h1>Twitter</h1>
<form {{action 'addTweet' on='submit'}}>
	<p>{{input type="text" value=newTweet}}<button>Send</button></p>
</form>
<ul>
	{{#each tweets as |tweet|}}
		<li>{{tweet.user}} - {{tweet.description}}</li>
		<p>
			{{input type="text" value=tweet.description}}
			<button {{action 'deleteTweet' tweet on='click'}}>Delete</button>
		</p>
		{{else}}
			<h3>No hay tweets</h3>
	{{/each}}
</ul>
<button {{action 'logout' on='click'}}>Cerrar sesión</button>


{{link-to meal.name "meals.meal-detail" meal.id}}
		{{simple-card}}
		{{#simple-card
				title=meal.name
					isOld=(if meal.id false)}}
		{{/simple-card}}
		{{#complex-card
				title=meal.name
					isOld=(if meal.id false)}}
		{{/complex-card}}
<br />
<br />
<br />
