<h1>Hola mundo</h1>


<form {{action 'verifyUser' on='click'}}>
	<p>User: {{input type="text" value=user}}</p>
	<p>Password: {{input type="password" value=password}}</p>
	<button>Validate</button>
</form>

<br>
<br>
<br>
<br>
{{link-to "Ir a lab" 'lab'}}
<br>
<br>
<br>
<br>
<br>
{{#link-to 'lab'}}
<p>Ir a lab</p>
{{/link-to}}
<br>
<br>
<br>
